<app-loading-screen *ngIf="isLoading"></app-loading-screen>
<mat-drawer-container class="example-container" autosize>
    <div *ngIf="isMenu" class="wrap-over" (click)="drawer.toggle();openMenu()"></div>
    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
        <h1>Menu</h1>
        <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
        <mat-divider inset vertical></mat-divider> -->


        <mat-divider></mat-divider>

        <mat-selection-list #menu [multiple]="false">

            <!-- Admin -->
            <mat-list-option *ngIf="isManager" (click)="drawer.toggle();openMenu()" routerLink="/dashboard">
                <button mat-icon-button class="nav-btn-slide">
                    <mat-icon>account_circle</mat-icon> ภาพรวม
                </button>
            </mat-list-option>
            <mat-list-option *ngIf="isManager" (click)="drawer.toggle();openMenu()" routerLink="/farm">
                <button mat-icon-button class="nav-btn-slide">
                    <mat-icon>account_circle</mat-icon> ฟาร์ม
                </button>
            </mat-list-option>
            <mat-list-option *ngIf="isManager" (click)="drawer.toggle();openMenu()" routerLink="/product">
                <button mat-icon-button class="nav-btn-slide">
                    <mat-icon>people</mat-icon> สินค้า
                </button>
            </mat-list-option>

            <mat-list-option *ngIf="isManager" (click)="drawer.toggle();openMenu()" routerLink="/customer">
                <button mat-icon-button class="nav-btn-slide">
                    <mat-icon>account_circle</mat-icon> รายชื่อลูกค้า
                </button>
            </mat-list-option>

            <!-- Customer -->
            <mat-list-option *ngIf="!isManager" (click)="drawer.toggle();openMenu()" routerLink="/product">
                <button mat-icon-button class="nav-btn-slide">
                    <mat-icon>people</mat-icon> สินค้า
                </button>
            </mat-list-option>
            <mat-list-option *ngIf="!isManager" (click)="drawer.toggle();openMenu()" routerLink="/order">
                <button mat-icon-button class="nav-btn-slide">
                    <mat-icon>people</mat-icon> รายการสั่งซื้อ
                </button>
            </mat-list-option>

            <mat-list-option (click)="logout()">
                <button mat-icon-button class="nav-btn-slide">
          <mat-icon>logout</mat-icon> Logout
        </button>
            </mat-list-option>
        </mat-selection-list>




        <div class="btn-logout" (click)="logout()">
            ออกจากระบบ
        </div>
    </mat-drawer>

    <mat-toolbar class="nav-header">

        <div class="nav-header-left">
            <button *ngIf="!isMainPage" mat-icon-button class="example-icon" (click)="gotoback()" aria-label="Example icon-button with share icon">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
        </div>

        <div class="nav-header-center">
            <span>Egg Handle</span>
        </div>
        <div class="nav-header-right">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle();openMenu()">
        <mat-icon>menu</mat-icon>
      </button>
        </div>

    </mat-toolbar>

    <!-- Children -->
    <div class="content-app">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>